---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Navigation />
    <Hero />
  </main>
</Layout>


