---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
// import Header from "../components/Header.svelte";
import Hero from "../components/Hero.astro";
---

<Layout title="Showroomko">
  <main>
    <Navigation />
    <Hero />
  </main>
</Layout>


