---
import logo from '../images/logo.svg'
import burger from '../images/icon-hamburger.svg'
import closeNav from '../images/icon-close.svg';
---

<header class='first-header'>
  <div class="logo">
    <img src={logo} alt="">  
  </div>
  
  <button class='mobile-nav-toggle' aria-controls='primary-navigation' aria-expanded='false'>
    <img id="burgerIcon" src={burger} alt="">
    <img id="closeIcon" src={closeNav} alt="">
  </button>
  
  <nav class='first-nav'>
    <ul data-visible='false' id='primary-navigation' class='primary-navigation'>
      <li><a href="#">home</a></li>
      <li><a href="#">shop</a></li>
      <li><a href="#">about</a></li>
      <li><a href="#">contact</a></li>
    </ul>
  </nav>
</header>

<script is:inline>
  const primaryNav = document.querySelector('.primary-navigation')
  const navToggle = document.querySelector('.mobile-nav-toggle')
  const burgerIcon = document.querySelector('#burgerIcon')
  const closeIcon = document.querySelector('#closeIcon')
  
  //  switch data visible to true
  navToggle.addEventListener('click', () => {
    const visibility = primaryNav.getAttribute('data-visible')
    if (visibility === 'false') {
      primaryNav.setAttribute('data-visible', true)
      navToggle.setAttribute('aria-expanded', true)
      closeIcon.style.display = "inline";
      burgerIcon.style.display = "none";
      
    } else {
      primaryNav.setAttribute('data-visible', false)
      navToggle.setAttribute('aria-expanded', false)
      closeIcon.style.display = "none";
      burgerIcon.style.display = "inline";
    }
  })
  </script>

<style>

.primary-navigation {
  display: flex;
  gap: 2em;
  list-style: none;
}

.logo {
  display: inline;
}

.first-header {
  display: flex;
  padding: 1em;
  align-items: center;
}

.first-nav {
  display: inline-block;
  margin-left: 2em;
}

.mobile-nav-toggle {
  display: none;
  border-style: none;
}

#closeIcon {
  display: none;
}

.primary-navigation {
  padding: 0;
  margin: 0;
  list-style: none;
  background: transparent;
}

.primary-navigation a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

@media (max-width: 35em) {
  .primary-navigation {
    position: fixed;
    inset: 0 0 0 0%;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 250ms ease-out;
    background: white;
    height: fit-content;
    color: black;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 2rem;
    padding: 1em;
  }

  .primary-navigation a {
    color: black;
  }
  
  /*  if primary navigation has data=true  */
  .primary-navigation[data-visible='true'] {
    transform: translateX(0%);
  }

  .logo {
    margin-top: 0.5rem;
    margin-inline: auto;
  }
  
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background-color:transparent;
    aspect-ratio: 1;
    left: 1rem;
  }

  .mobile-nav-toggle img {
    width: 100%;
  }
  
}

</style>